@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lugrasimo&family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
    overflow-x: hidden;  
    background-color: #792cd8;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


}

.navContainer{
    width: 100vw;
    /* background-color: rgb(72, 72, 169); */
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


    

nav{
    width: 100%;
    /* overflow-x: none; */
    padding-right: 2rem;
}

#navList{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.logo img{
    height: 100px;
    border-radius: 50%;
    /* border-style: solid;
    border-color: red; */
    border: 2px solid black;
    width: 100px;
    
}

.logo img:hover{
    transform: scale(1.1);
    border: 2px solid yellow;
}





#navLogo{
    font-size: 2rem;
    color: white;
    font-family: "Dancing Script", cursive;
    /* -webkit-text-stroke-width: 4px;
    -webkit-text-stroke: black; */
    
}

#navLogo:hover{
    color: #ffd60a;
    transform: scale(1.1);
    
}

a{
    text-decoration: none;
}

#navItems{
    display: flex;
    gap: 40px;
    color: white;
    font-size: 2.5rem;
    
}


.contentBox{
    width: 50%;
    margin: auto;
    /* border: 1px solid black ; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding:3rem;
    box-shadow: 1px 0px 0px black;
    
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px black;
    border-radius:20px;
    height: 300px;
    
}

 .rightBox img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
    
 }

 .rightBox:hover {
    transform: scale(1.1);
 }

 .leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;

 }

 .leftBox h2{
    font-size: 2rem;
    
    
 }

 .ingBox {
    font-size: 1.3rem; 
 }

 .receipeBox {
    font-size: 1.1rem;
 }

 .rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(36, 34, 34, 0.713);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s linear 0s;

 }

 .rightBox:hover .overlay{
        opacity: 1;
 }

 .rightBox .overlay span {
    color: white;
    font-size: 1rem;
 }



.footerBox{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
    width: 100%;
    text-align: center;
    min-height: 40px;


}

.footerBox p{
    color:azure;
    font-size: 2rem;
}

